.connect-four-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.connect-four-row {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.connect-four-column:hover {
  background-color: #fafafa;
}

.connect-four-cell {
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  font-size: 42px;
}

.empty-piece {
  opacity: 0.3;
}

.status {
  margin-top: 40px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 32px;
}

.player-red {
  color: #cc1111;
}
